/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../.rvm/gems/ruby-2.1.3/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rvm/gems/ruby-2.1.3/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rvm/gems/ruby-2.1.3/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rvm/gems/ruby-2.1.3/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rvm/gems/ruby-2.1.3/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rvm/gems/ruby-2.1.3/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rvm/gems/ruby-2.1.3/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rvm/gems/ruby-2.1.3/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rvm/gems/ruby-2.1.3/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 9, ../sass/_base.scss */
h2 {
  font-family: Arial;
  color: #000000;
  font-size: 24px;
  font-weight: 500;
}

/* line 11, ../sass/screen.scss */
body {
  background-color: #fdfdfd;
  font-family: Arial;
  color: #000000;
  font-size: 15px;
  font-weight: 400;
}

/* line 21, ../sass/screen.scss */
#main {
  display: inline-block;
  min-width: 980px;
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
}

/** global settings **/
/* line 53, ../sass/screen.scss */
#navigate_block {
  display: inline-block;
  height: 100%;
  -moz-transition: opacity 0.25s, background-color 0.25s;
  -o-transition: opacity 0.25s, background-color 0.25s;
  -webkit-transition: opacity 0.25s, background-color 0.25s;
  transition: opacity 0.25s, background-color 0.25s;
  width: 40%;
  position: relative;
  overflow: hidden;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #d5d1ca;
  -moz-box-shadow: #a49895 2px 2px 3px;
  -webkit-box-shadow: #a49895 2px 2px 3px;
  box-shadow: #a49895 2px 2px 3px;
}

/* line 67, ../sass/screen.scss */
#content_block {
  display: inline-block;
  height: 100%;
  -moz-transition: opacity 0.25s, background-color 0.25s;
  -o-transition: opacity 0.25s, background-color 0.25s;
  -webkit-transition: opacity 0.25s, background-color 0.25s;
  transition: opacity 0.25s, background-color 0.25s;
  width: 60%;
  vertical-align: top;
  background-color: #fdfdfd;
  font-family: Arial;
  padding-left: 65px;
  padding-bottom: 20px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 79, ../sass/screen.scss */
#table_head {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  color: #717171;
  font-size: 12px;
  font-weight: 700;
  line-height: 24px;
  border-bottom: #a49895 1px solid;
  display: table-row;
  /** generate size for table **/
}
/* line 95, ../sass/screen.scss */
#table_head .t_title {
  box-sizing: border-box;
  height: 50px;
  text-align: center;
  vertical-align: bottom;
  display: table-cell;
  cursor: pointer;
}
/* line 107, ../sass/screen.scss */
#table_head .t_title.selected {
  background-color: #dddad4;
}

/* line 147, ../sass/screen.scss */
.clearfix {
  content: "";
  clear: both;
  display: inline-block;
  visibility: hidden;
  height: 0;
}

/* line 120, ../sass/screen.scss */
#table_head .th_0 {
  min-width: 17px;
}

/* line 123, ../sass/screen.scss */
.tr_0 {
  min-width: 17px;
}

/* line 120, ../sass/screen.scss */
#table_head .th_1 {
  min-width: 211px;
}

/* line 123, ../sass/screen.scss */
.tr_1 {
  min-width: 211px;
}

/* line 120, ../sass/screen.scss */
#table_head .th_2 {
  min-width: 83px;
}

/* line 123, ../sass/screen.scss */
.tr_2 {
  min-width: 83px;
}

/* line 120, ../sass/screen.scss */
#table_head .th_3 {
  min-width: 90px;
}

/* line 123, ../sass/screen.scss */
.tr_3 {
  min-width: 90px;
}

/* line 135, ../sass/screen.scss */
#table_head .th_0 {
  width: 10%;
}

/* line 138, ../sass/screen.scss */
.tr_0 {
  width: 10%;
}

/* line 135, ../sass/screen.scss */
#table_head .th_1 {
  width: 40%;
}

/* line 138, ../sass/screen.scss */
.tr_1 {
  width: 40%;
}

/* line 135, ../sass/screen.scss */
#table_head .th_2 {
  width: 20%;
}

/* line 138, ../sass/screen.scss */
.tr_2 {
  width: 20%;
}

/* line 135, ../sass/screen.scss */
#table_head .th_3 {
  width: 30%;
}

/* line 138, ../sass/screen.scss */
.tr_3 {
  width: 30%;
}

/* line 161, ../sass/screen.scss */
.tr_0 {
  color: #656565;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

/* line 169, ../sass/screen.scss */
.separator_line {
  width: 100%;
  height: 1px;
  background-color: #a49895;
}

/* line 175, ../sass/screen.scss */
#wrapper_user_list {
  margin-top: 51px;
  margin-bottom: 80px;
  height: 100%;
  overflow: scroll;
}

/* line 182, ../sass/screen.scss */
.scroller {
  height: 100%;
  overflow-y: scroll;
  /* -webkit-overflow-scrolling: touch; */
  /* uncomment to accelerate scrolling on iOS */
}

/* line 187, ../sass/screen.scss */
.scroller::-webkit-scrollbar {
  /* Prevents webkit cross-direction scrolling bug */
  width: 0;
}

/* line 192, ../sass/screen.scss */
#user_list {
  color: #000000;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  overflow-y: auto;
  overflow-x: hidden;
}

/* line 201, ../sass/screen.scss */
.t_row {
  display: table-row;
  height: 57px;
  overflow: hidden;
}
/* line 206, ../sass/screen.scss */
.t_row.selected {
  -moz-box-shadow: 2px 1px 1px 0.3px rgba(154, 144, 126, 0.49);
  -webkit-box-shadow: 2px 1px 1px 0.3px rgba(154, 144, 126, 0.49);
  box-shadow: 2px 1px 1px 0.3px rgba(154, 144, 126, 0.49);
  background-color: #ede980;
}
/* line 211, ../sass/screen.scss */
.t_row:hover {
  background-color: #e1ded9;
}

/* line 216, ../sass/screen.scss */
.t_cell {
  padding: 6px 5px 11px 8px;
  display: table-cell;
  cursor: pointer;
  vertical-align: middle;
}

/* line 223, ../sass/screen.scss */
#wrapper_footer {
  width: 100%;
  position: absolute;
  bottom: 0;
}

/* line 229, ../sass/screen.scss */
#filter_footer {
  z-index: 100;
  height: 80px;
  width: 100%;
  font-family: Arial;
  color: #000000;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  position: absolute;
  bottom: 0;
}
/* line 241, ../sass/screen.scss */
#filter_footer span, #filter_footer select {
  font-size: 12px;
}
/* line 245, ../sass/screen.scss */
#filter_footer #half_visible {
  float: left;
  width: 100%;
  height: 26.4px;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjEiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkNWQxY2EiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0.1)), color-stop(100%, #d5d1ca));
  background-image: -moz-linear-gradient(rgba(255, 255, 255, 0.1), #d5d1ca);
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.1), #d5d1ca);
  background-image: linear-gradient(rgba(255, 255, 255, 0.1), #d5d1ca);
}
/* line 252, ../sass/screen.scss */
#filter_footer #full_visible {
  background-color: #d5d1ca;
  float: left;
  width: 100%;
  height: 100%;
}
/* line 259, ../sass/screen.scss */
#filter_footer #paginator_part {
  width: 100%;
  position: relative;
  height: 100%;
  display: inline;
}
/* line 266, ../sass/screen.scss */
#filter_footer #wrapper_paginator {
  display: inline-block;
  float: right;
  margin-top: 10px;
  margin-right: 10px;
}
/* line 273, ../sass/screen.scss */
#filter_footer li {
  display: block;
  float: left;
  padding: 2px 7px;
  -moz-border-radius: 51% / 49%;
  -webkit-border-radius: 51% 49%;
  border-radius: 51% / 49%;
}
/* line 280, ../sass/screen.scss */
#filter_footer li a {
  text-decoration: none;
  color: #504a40;
  font-weight: bold;
}
/* line 287, ../sass/screen.scss */
#filter_footer li.active {
  background: #504a40;
}
/* line 290, ../sass/screen.scss */
#filter_footer li.active a {
  color: #bdbbb8;
}

/* line 296, ../sass/screen.scss */
#filter_str {
  height: 100%;
  width: 100%;
  position: relative;
  display: inline;
}

/* line 302, ../sass/screen.scss */
#st_filter_input {
  margin-left: 17px;
  margin-top: 8px;
  font-size: 100%;
  padding: 2px 9px 2px 27px;
  height: 18px;
  background-position: 7px 6px;
  width: 110px;
  color: #666;
  border: 1px solid #ccc;
  outline: none;
  background: #fcfcfc;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  -moz-box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.17);
  -webkit-box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.17);
  box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.17);
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
}

/* line 320, ../sass/screen.scss */
.baron .scroller__track {
  display: block;
  /* Visible when scrolling is possible */
  position: absolute;
  right: 4px;
  top: 60px;
  bottom: 70px;
  width: 7px;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

/* line 331, ../sass/screen.scss */
.scroller__bar {
  /* The bar. You should define width, right position and background */
  position: absolute;
  z-index: 1;
  right: 0;
  width: 7px;
  background: #999;
  opacity: 0.7;
  border-radius: 5px;
  -moz-transition: opacity 0.25s;
  -o-transition: opacity 0.25s;
  -webkit-transition: opacity 0.25s;
  transition: opacity 0.25s;
}
/* line 341, ../sass/screen.scss */
.scroller__bar:hover {
  opacity: 1;
}

/* line 346, ../sass/screen.scss */
#track_content {
  right: 10px;
  top: 6px;
  bottom: 10px;
}

/* line 356, ../sass/screen.scss */
.user_mini_logo {
  width: 34px;
  height: 34px;
  display: inline-block;
  position: absolute;
  -moz-border-radius: 51% / 56%;
  -webkit-border-radius: 51% 56%;
  border-radius: 51% / 56%;
}

/* line 364, ../sass/screen.scss */
.wrapp_img {
  font-size: 12px;
  position: relative;
}
/* line 367, ../sass/screen.scss */
.wrapp_img div {
  display: inline-block;
  margin-left: 40px;
}

/* line 375, ../sass/screen.scss */
.f_info .id_info {
  color: #bababa;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  text-align: right;
  float: right;
}
/* line 384, ../sass/screen.scss */
.f_info img {
  width: 200px;
  height: 300px;
  -moz-box-shadow: -2px 0px 3px 0px rgba(0, 0, 0, 0.24);
  -webkit-box-shadow: -2px 0px 3px 0px rgba(0, 0, 0, 0.24);
  box-shadow: -2px 0px 3px 0px rgba(0, 0, 0, 0.24);
}
/* line 390, ../sass/screen.scss */
.f_info .wrapper_table {
  margin-top: 50px;
  width: 335px;
}
/* line 395, ../sass/screen.scss */
.f_info .inner_table {
  margin-left: 34px;
}
/* line 397, ../sass/screen.scss */
.f_info .inner_table tr {
  height: 33px;
}
/* line 400, ../sass/screen.scss */
.f_info .inner_table .td_field {
  color: #777777;
  font-size: 20px;
  font-weight: bold;
  line-height: 18px;
}
/* line 407, ../sass/screen.scss */
.f_info .inner_table .td_value {
  color: #000000;
  font-size: 20px;
  font-weight: bold;
  line-height: 18px;
  padding-left: 36px;
  min-width: 200px;
}
/* line 416, ../sass/screen.scss */
.f_info .inner_table .td_last {
  font-family: Arial;
  color: #000000;
  font-style: italic;
  line-height: 18px;
  padding-top: 27px;
  font-size: 14px;
}
/* line 425, ../sass/screen.scss */
.f_info .inner_table .td_character {
  padding-top: 65px;
  font-family: Arial;
  color: #000000;
  font-size: 15px;
  font-weight: 400;
}
