/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */


@import "base";

@import "compass/layout/stretching";

body {
	background-color: #fdfdfd;

	font-family: Arial;
	color: #000000;
	font-size: 15px;
	font-weight: 400;
}


#main {
	display: inline-block;
	min-width: 980px;
	margin: 0;
	padding: 0;
	border: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	overflow: hidden;
	
}

@mixin container_block {
	display: inline-block;
	height: 100%;
	@include transition(opacity .25s, background-color .25s);
}

/** global settings **/

$content_block_width: 60%;
$navigate_block_width: 100% -  $content_block_width; 
$back_ground_panel: #d5d1ca;
$border_grey: #a49895;
$table_head_height: 50px;
$filter_footer_height: 80px;
$separator_height: 1px;
$padding_table_w: 5px;
$brown_color : #504a40;


#navigate_block {
	@include container_block;
	width: $navigate_block_width;
	position: relative;
	overflow: hidden;

	@include box-sizing(border-box);

	//border-right: #{$border_grey} 1px solid;
	background-color: $back_ground_panel;
	@include box-shadow(#{$border_grey} 2px 2px 3px);

}

#content_block {
	@include container_block;
	width: $content_block_width;
	vertical-align: top;	
  	background-color: #fdfdfd;
  	font-family: Arial;
  	padding-left: 65px;
  	padding-bottom: 20px;
  	@include box-sizing(border-box);
}


#table_head {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: $table_head_height;
	color: #717171;
	font-size: 12px;
	font-weight: 700;
	line-height: 24px;
	border-bottom: #{$border_grey} 1px solid; 

	display: table-row;

	/** generate size for table **/

	.t_title {
		// padding: 26px $padding_table_w 0 ($padding_table_w + 3);
		box-sizing: border-box;
		height: 50px;
		text-align: center;
	    vertical-align: bottom;
	    display: table-cell;
		// @include inline-block;    
	 //    @include align-items(center);
	 //    @include justify-content(center);1
	    cursor: pointer;

	     &.selected {
			background-color: #dddad4;
	    }
	}

}

$list_table_h : (17px, 211px, 83px, 90px);
$list_table_per : (10%, 40%, 20%, 30%);
@mixin initTableWidthes($header_name, $column_name) {
	$count : 0;
	$full_width: 0;
	@each $width in $list_table_h {
		#{$header_name}#{$count} {
			min-width: #{$width};
		}
		#{$column_name}#{$count} {
			min-width: #{$width};
		}
		$count: $count +1;
		$full_width: $full_width + $width;
	}
}

@mixin initColumns($header_name, $column_name) {
	$count : 0;
	$full_width: 0;
	@each $width in $list_table_per {
		#{$header_name}#{$count} {
			width: #{$width};
		}
		#{$column_name}#{$count} {
			width: #{$width};
		}
		$count: $count +1;
		$full_width: $full_width + $width;
	}
}


.clearfix {
	content: "";
	clear: both;
	display: inline-block;
	visibility: hidden;
	height: 0;

}


@include initTableWidthes('#table_head .th_', '.tr_');
@include initColumns('#table_head .th_', '.tr_');


.tr_0 {
	color:  #656565;
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
}


.separator_line {
	width: 100%;
	height: $separator_height;
	background-color: $border_grey;
}

#wrapper_user_list {
	margin-top: $table_head_height + $separator_height;
	margin-bottom: $filter_footer_height;
	height: 100%;
	overflow: scroll;
}

.scroller {
	height: 100%;
    overflow-y: scroll;
    /* -webkit-overflow-scrolling: touch; *//* uncomment to accelerate scrolling on iOS */
}
.scroller::-webkit-scrollbar { /* Prevents webkit cross-direction scrolling bug */
    width: 0;
}


#user_list {
	color:  #000000;
	font-size: 14px;
	font-weight: 400;
	line-height: 18px;
	overflow-y: auto;
	overflow-x: hidden;
}

.t_row {
	display: table-row;
	height: 57px;
	overflow: hidden;

	&.selected {
		@include box-shadow(2px 1px 1px 0.3px rgba(154, 144, 126, 0.49));	
		background-color: #ede980;

	}
	&:hover { 
		background-color: #e1ded9;
	}
}

.t_cell {
		padding: 6px $padding_table_w 11px ($padding_table_w +3);
	    display: table-cell;
	    cursor: pointer;
	    vertical-align: middle;
}

#wrapper_footer {
	width: 100%;
	position: absolute;
	bottom: 0;
}

#filter_footer {
	z-index: 100;
	height: $filter_footer_height;
	width: 100%;
	font-family: Arial;
	color: #000000;
	font-size: 14px;
	font-weight: 400;
	line-height: 18px;
	position: absolute;
	bottom: 0;

	span, select {
		font-size: 12px; 
	}

	#half_visible {
		float: left;
		width: 100%;
		height: $filter_footer_height * 0.33;
		@include background-image(linear-gradient(rgba(255, 255, 255, 0.1), $back_ground_panel));
	}

	#full_visible {
		background-color: $back_ground_panel;
		float: left;
		width: 100%;
		height: 100%;
	}

	#paginator_part {
		width: 100%;
		position: relative;
		height: 100%;
		display: inline;
	}

	#wrapper_paginator {
		display: inline-block;
		float: right;
		margin-top: 10px;
		margin-right: 10px;
	}

	& li {
		display: block;
		float: left;
		padding: 2px 7px;

  		@include border-radius(51%, 49%);

		a {
			text-decoration: none;
			color: #504a40;
			font-weight: bold;
		}	
	}

	& li.active {
		background: $brown_color;

		a {
			color: #bdbbb8;
		}
	}
}

#filter_str {
	height: 100%;
	width: 100%;
	position: relative;
	display: inline;
}
#st_filter_input {
	margin-left: 17px;
	margin-top: 8px;
	font-size: 100%;
	padding: 2px 9px 2px 27px;
	height: 18px;
	background-position: 7px 6px;
	width: 110px;
	color: #666;
	border: 1px solid #ccc;
	outline: none;
	background: #fcfcfc;
	@include border-radius(15px);
	@include box-shadow (inset 0 1px 3px 0 rgba(0,0,0,0.17));
	@include border-radius(25px);
}


.baron .scroller__track {
    display: block; /* Visible when scrolling is possible */
    position: absolute;
	right: 4px;
	top: 60px;
	bottom: 70px;
	width: 7px;
	background: rgba(0, 0, 0, .1);
	border-radius: 5px;
}

.scroller__bar { /* The bar. You should define width, right position and background */
    position: absolute;
	z-index: 1;
	right: 0;
	width: 7px;
	background: #999;
	opacity: 0.7;
	border-radius: 5px;
	@include transition(opacity .25s);

	&:hover {
		opacity: 1;
	}
}

#track_content {
	right: 10px;
	top: 6px;
	bottom: 10px;
}

#bar_content {

}

.user_mini_logo {
	width: 34px;
	height: 34px;
	display: inline-block;
	position: absolute;
	@include border-radius(51%, 56%);
}

.wrapp_img {
	font-size: 12px;
	position: relative;
	div { 
		display: inline-block;
		margin-left: 40px;
	}
}

.f_info {

	.id_info {
		color:  #bababa;
		font-size: 16px;
		font-weight: 700;
		line-height: 18px;
		text-align: right;
		float: right;
	}

	img {
		width: 200px;
		height: 300px;
		@include box-shadow(-2px 0px 3px 0.00px rgba(0, 0, 0, 0.24));
	}

	.wrapper_table {
		margin-top: 50px;
		width: 335px;
	}

	.inner_table {
		margin-left: 34px;	
		tr {
			height: 33px;	
		}
		.td_field {
			color: #777777;
			font-size: 20px;
			font-weight: bold;
			line-height: 18px;
		}
		
		.td_value {
			color: #000000;
			font-size: 20px;
			font-weight: bold;
			line-height: 18px;
			padding-left: 36px;	
			min-width: 200px; 
		}

		.td_last {
			font-family: Arial;
			color: #000000;
			font-style: italic;
			line-height: 18px;
			padding-top: 27px;
			font-size: 14px;
		}

		.td_character {
			padding-top: 65px;
			font-family: Arial;
			color:  #000000;
			font-size: 15px;
			font-weight: 400;
		}
	}
}

