<!doctype html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>User interface</title>
		
		<link href="css/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
		<link href="css/print.css" media="print" rel="stylesheet" type="text/css" />
		<link href="js/libs/baron/baron.css"  type="text/css" />
		<!-- <link href="js/libs/jquery.scrollbar.css"  type="text/css" /> -->
		<!--[if IE]>
		  <link href="stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
		<![endif]-->

		<!-- Using thorax - which includes: jQuery, Backbone, Underscore, Handlebars and own code-->
		<script type="text/javascript" src="js/libs/thorax.js"></script>
		<script type="text/javascript" src="js/libs/backbone.localStorage-min.js"></script>
		<script type="text/javascript" src="js/libs/baron/baron.min.js"></script>
		
		<!-- <script type="text/javascript" src="js/libs/jquery.scrollbar.min.js"></script> -->
		<script type="text/javascript" src="js/libs/moment-with-langs.min.js"></script>
		
	</head>
	<body>
		<div id="main"><div id="navigate_block">
		      	<div id="table_head">
		      	</div>
		      	
		      		<!-- delete the SCROLLER - and strange behavior will be occured-->
		      	<div id="wrapper_user_list" class="scroller"> <!-- scrollbar-inner -->
					
					<div class="scroller__track">
			        	<div class="scroller__bar"></div>
			    	</div>

			      	<div id="user_list" >
			      	</div>	
		      	</div>

		      	<div id="wrapper_footer">
			        <div id="filter_footer">
			        	<div id="half_visible">
			        	</div>
			        	<div class="separator_line" style="float:left"></div>

			        	<div id="full_visible">
			        		<div id="filter_str"></div>
			        		
			        		<div id="paginator_part"></div>		

			        	</div>
			        </div>
			    </div>    
		      </div><div id="content_block">
		       <div class="scroller" style="height:100; z-index:99">
			       <div id="track_content" class="scroller__track" style="z-index:1000">
			        	<div id="bar_content" class="scroller__bar" style="z-index:1001"></div>
			    	</div>	
			    	<div id="full_info" class="f_info">
			    	</div>
		        </div>
		      </div></div>



		<script type="text/javascript">
			//  format an ISO date using Moment.js
			//  http://momentjs.com/
			//  moment syntax example: moment(Date("2011-07-18T15:50:52")).format("MMMM YYYY")
			//  usage: {{dateFormat creation_date format="MMMM YYYY"}}
			Handlebars.registerHelper('dateFormat', function(context, block) {
			  if (window.moment) {
			    var f = block.hash.format || "MMM DD, YYYY hh:mm:ss A";
			    return moment(context).format(f); //had to remove Date(context)
			  }else{
			    return context;   //  moment plugin not available. return data as is.
			  };
			});
		</script>

		<!-------------------- Templates for Views -->

		<script id="table_head_view" type="text/x-handlebars-template">
			<div class="t_title th_0" data-field="uid">ID</div>
      		<div class="t_title th_1" data-field="lName">ФИО КЛИЕНТА</div>
			<div class="t_title th_2" data-field="price">БАЛАНС, РУБ.</div>
      		<div class="t_title th_3" data-field="date">ПРОШЛЫЙ ВИЗИТ</div>
      	</script>	


	    <script id="user_list_t" type="text/x-handlebars-template">
		    {{#collection item-template="user_list_item"  item-filter="itemFilter"}}	
			{{/collection}}
	    </script>

	   	<script id="user_list_item" type="text/x-handlebars-template">
	   		<div class="t_row" data-id="{{uid}}">
	   			<div class="t_cell tr_0">{{uid}}</div>
				<div class="t_cell tr_1">
				   <div class="wrapp_img">		
				   	<img class="user_mini_logo" src='img/{{photo}}' /> 	
				   	<div style="display: inline-block">{{lName}} {{fName}} <br/>{{mName}}</div>
				   </div>	
				</div>
				<div class="t_cell tr_2">{{price}}</div>
				<div class="t_cell tr_3">{{dateFormat date format="D MMMM YYYY"}}</div>
			</div>
	   	</script>


	   	<script id="paginator_view" type="text/x-handlebars-template">
		   	<span style="margin-left: 15px">Отображать по</span> 
			<select>
				<option>10</option>	
				<option>20</option>	
				<option>50</option>	
				<option>100</option>	
			</select>
			<div id="wrapper_paginator">	
	    		<ul class="paginator_nav">
	    			<li class="active"><a data-id="1" rel="1" href="#">1</a></li>
	    			<li class=""><a rel="2" data-id="2" href="#">2</a></li>
	    			<li class=""><a rel="3" data-id="3" href="#">3</a></li>
	    			<li class=""><a rel="4" data-id="4" href="#">4</a></li>
	    			<li class=""><a rel="5" data-id="5" href="#">5</a></li>
	    		</ul>	
	    	</div>
	    </script>	



	   	<script id="full_info_view" type="text/x-handlebars-template">
	   		<table class="wrapper_table">
	   			<tbody>	
	   				<tr>
	   					<td></td>
	   					<td><span class="id_info">ID{{uid}}</span></td>
	   				</tr>
	   				<tr>
	   					<td style="vertical-align: top;">
	   						<img src="img/{{photo}}" />
	   					</td>
	   					<td style="vertical-align: top;">
		   					<table class="inner_table">
		   						<tbody>
		   							<tr>
		   								<td class="td_field"	>Фамилия</td>
		   								<td class="td_value">{{lName}}</td>
		   							</tr>
									<tr>
		   								<td class="td_field">Имя</td>
		   								<td class="td_value">{{fName}}</td>
		   							</tr>
									<tr>
		   								<td class="td_field">Отчество</td>
		   								<td class="td_value">{{mName}}</td>
		   							</tr>
									<tr>
		   								<td class="td_field">Баланс</td>
		   								<td class="td_value">{{price}} руб.</td>
		   							</tr>
		   							<tr>
		   								<td colspan="2" class="td_last">Последний раз был {{dateFormat date format="MMMM YYYY"}}</td>			
		   							</tr>
		   							<tr>
		   								<td colspan="2" class="td_character">
		   									<h2>Характеристика</h2>	
		   									<div style="margin-top: 30px">
		   										{{{about}}}	
		   									</div>
		   								</td>			
		   							</tr>	

		   						</tbody>
		   					</table>
		   				</td>		
	   				</tr>
	   			</tbody>
	   		</table>	
	   	</script>



	   	<script id="filter_view" type="text/x-handlebars-template">
	   		<input type="text" id="st_filter_input" placeholder="фильтр" style="outline: none;" 
	   			value="{{filter_text}}">

	   		<span class="user_number"></span>	
		</script>   		

	   	<!-- ----------------------------------------------------- -->

	  	<script type="text/javascript">
	  	// In FireFox breaks block
	  // 		jQuery(document).ready(function(){
			//     jQuery('.scrollbar-inner').scrollbar();
			// });
			$('.scroller').baron({
				scroller: '.scroller',
				bar: '.scroller__bar',
				track: '.scroller__track',
				barOnCls: 'baron'
			});
		 </script>


	    <script type="text/javascript">
	    	// Grab the text from the templates we created above
	    	//Каждый шаблон нужно добавить в общую мапу - отсюда хендлюар берет под вьюшки
	    	//TODO: Thorax зачем-то собирает в свой объекты теже шаблоны, может legacy документация!!!
			Thorax.templates = {
				table_head_view: Handlebars.compile($('#table_head_view').html()),
				user_list_t: Handlebars.compile($('#user_list_t').html()),
				user_list_item: Handlebars.compile($('#user_list_item').html())
			};
			
			Handlebars.templates['table_head_view'] = Handlebars.compile($('#table_head_view').html());
			Handlebars.templates['user_list_t'] = Handlebars.compile($('#user_list_t').html());
			Handlebars.templates['user_list_item'] = Handlebars.compile($('#user_list_item').html());
			Handlebars.templates['full_info_view'] = Handlebars.compile($('#full_info_view').html());
			Handlebars.templates['paginator_view'] = Handlebars.compile($('#paginator_view').html());
			Handlebars.templates['filter_view'] = Handlebars.compile($('#filter_view').html());
			
			// Initialize the app object
			window.app = {
				lang: 'ru'
			};
			window.App = {};
	  		
	  		moment.lang(window.app.lang);
	    </script>

	    <script type="text/javascript" src="js/model.js"></script>
	    <script type="text/javascript" src="js/collection.js"></script>
	    <script type="text/javascript" src="js/view.js"></script>
	    <script type="text/javascript" src="js/app.js"></script>

	</body>
</html>	

