/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../.rvm/gems/ruby-2.1.3/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rvm/gems/ruby-2.1.3/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rvm/gems/ruby-2.1.3/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rvm/gems/ruby-2.1.3/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rvm/gems/ruby-2.1.3/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rvm/gems/ruby-2.1.3/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rvm/gems/ruby-2.1.3/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rvm/gems/ruby-2.1.3/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rvm/gems/ruby-2.1.3/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 11, ../sass/screen.scss */
body {
  background-color: #ffffff;
  font-family: Arial;
  color: #000000;
  font-size: 15px;
  font-weight: 400;
}

/* line 21, ../sass/screen.scss */
#main {
  min-width: 980px;
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}

/* line 49, ../sass/screen.scss */
#navigate_block {
  position: absolute;
  top: 0;
  bottom: 0;
  overflow-x: hidden;
  left: 0;
  border-right: #a49895 1px solid;
  background-color: #d5d1ca;
}

/* line 57, ../sass/screen.scss */
#content_block {
  position: absolute;
  top: 0;
  bottom: 0;
  overflow-x: hidden;
  width: 40%;
  right: 0;
  background-color: #fdfdfd;
  font-family: Arial;
}

/* line 66, ../sass/screen.scss */
#table_head {
  position: relative;
  height: 50px;
  color: #717171;
  font-size: 12px;
  font-weight: 700;
  line-height: 24px;
  border-bottom: #a49895 1px solid;
  display: table-row;
  /** generate size for table **/
}
/* line 79, ../sass/screen.scss */
#table_head .t_title {
  padding: 7px 13px 0 13px;
  text-align: center;
  vertical-align: bottom;
  display: table-cell;
  cursor: pointer;
}
/* line 89, ../sass/screen.scss */
#table_head .t_title.selected {
  background-color: #dddad4;
}

/* line 120, ../sass/screen.scss */
.clearfix {
  content: "";
  clear: both;
  display: inline-block;
  visibility: hidden;
  height: 0;
}

/* line 101, ../sass/screen.scss */
#table_head .th_0 {
  min-width: 18px;
}

/* line 104, ../sass/screen.scss */
.tr_0 {
  min-width: 18px;
}

/* line 101, ../sass/screen.scss */
#table_head .th_1 {
  min-width: 140px;
}

/* line 104, ../sass/screen.scss */
.tr_1 {
  min-width: 140px;
}

/* line 101, ../sass/screen.scss */
#table_head .th_2 {
  min-width: 93px;
}

/* line 104, ../sass/screen.scss */
.tr_2 {
  min-width: 93px;
}

/* line 101, ../sass/screen.scss */
#table_head .th_3 {
  min-width: 90px;
}

/* line 104, ../sass/screen.scss */
.tr_3 {
  min-width: 90px;
}

/* line 132, ../sass/screen.scss */
.tr_0 {
  color: #656565;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

/* line 140, ../sass/screen.scss */
.separator_line {
  width: 100%;
  height: 1px;
  background-color: #a49895;
}

/* line 146, ../sass/screen.scss */
#wrapper_user_list {
  position: absolute;
  top: 51px;
  bottom: 80px;
}

/* line 153, ../sass/screen.scss */
.scroller {
  overflow-y: scroll;
  /* -webkit-overflow-scrolling: touch; */
  /* uncomment to accelerate scrolling on iOS */
}

/* line 157, ../sass/screen.scss */
.scroller::-webkit-scrollbar {
  /* Prevents webkit cross-direction scrolling bug */
  width: 0;
}

/* line 162, ../sass/screen.scss */
#user_list {
  color: #000000;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

/* line 169, ../sass/screen.scss */
.t_row {
  display: table-row;
  height: 57px;
}
/* line 173, ../sass/screen.scss */
.t_row.selected {
  -moz-box-shadow: 0px 1px 1px 0px rgba(154, 144, 126, 0.49);
  -webkit-box-shadow: 0px 1px 1px 0px rgba(154, 144, 126, 0.49);
  box-shadow: 0px 1px 1px 0px rgba(154, 144, 126, 0.49);
  background-color: #fffb8a;
}
/* line 177, ../sass/screen.scss */
.t_row:hover {
  background-color: #e1ded9;
}

/* line 182, ../sass/screen.scss */
.t_cell {
  padding: 11px 13px 11px 13px;
  text-align: center;
  vertical-align: center;
  display: table-cell;
  cursor: pointer;
}

/* line 192, ../sass/screen.scss */
#wrapper_footer {
  width: 100%;
  position: absolute;
  bottom: 0;
}

/* line 199, ../sass/screen.scss */
#filter_footer {
  z-index: 100;
  height: 80px;
  font-family: Arial;
  color: #000000;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  background-color: green;
}
